<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons/font/bootstrap-icons.css">
<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap/dist/css/bootstrap.min.css">

<nav class="navbar" style="background-color: rgb(42, 45, 64);">
  <div>
    <h2 style="color: #ffffff;">Demo-Front</h2>
    <div class="d-flex">
      <form action="/listar" class="d-flex" method="get">
          <button>Producto Listar</button>
      </form>
      <form action="/agregar" class="d-flex" method="get">
        <button>Agregar Producto</button>
    </form>
    </div>
  </div>
</nav>
<router-outlet></router-outlet>